<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragment/common :: head}"></head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>redman</b>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<div class="social-auth-links text-center">
				<a class="btn btn-lg btn-block btn-social btn-google" href="#" th:href="@{/oauth2/authorization/google}">
					<span class="fa fa-google"></span> Sign in with Google
				</a>

				<a class="btn btn-lg btn-block btn-social btn-github" href="#" th:href="@{/oauth2/authorization/github}">
					<span class="fa fa-github"></span> Sign in with GitHub
				</a>
			</div>

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<th:block th:insert="~{fragment/common :: script}"></th:block>
</body>
</html>
